<br/>
<mat-card>
  <mat-toolbar color="primary">Autosuggest Cities</mat-toolbar>
  <br/>
  <div class="row">
    <div class="col-xs-6">
      <mat-form-field style="width:100%">
        <input
          matInput
          placeholder="Begin typing a city name"
          aria-label="City"
          [formControl]="cityControl"
          [matAutocomplete]="autoCity">

        <mat-autocomplete
          #autoCity="matAutocomplete"
          (optionSelected)="onCitySelected($event.option.value)"
          [displayWith]="getCityDisplayName">
          <mat-option *ngFor="let city of filteredCities | async" [value]="city">
            {{getCityDisplayName(city)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div *ngIf="selectedCity != null" class="cols-xs-6">
      <div class="col-xs-6">
        <table width="100%">
          <tr>
            <th>ID</th>
            <th>Location (lat, long)</th>
            <th>Population</th>
            <th>Elevation (meters)</th>
          </tr>
          <tr>
            <td>{{selectedCity.id}}</td>
            <td>{{selectedCity.latitude}}, {{selectedCity.longitude}}</td>
            <td>{{selectedCity.population}}</td>
            <td>{{selectedCity.elevationMeters ? selectedCity.elevationMeters : 'N/A'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</mat-card>

