<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon [routerLink]="['autosuggest-places']" matListItemIcon>list</mat-icon>
        <h4 matListItemTitle>Autosuggest Places</h4>
        <p matListItemLine>Display place auto-suggestions as you type.</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon [routerLink]="['find-places']" matListItemIcon>search</mat-icon>
        <h4 matListItemTitle>Find Places</h4>
        <p matListItemLine>Find places using various constraints.</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon [routerLink]="['find-region-places']" matListItemIcon>search</mat-icon>
        <h4 matListItemTitle>Find Region Places</h4>
        <p matListItemLine>Find places for a specific country region.</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    GeoDB Demo
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
