<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon [routerLink]="['autosuggest-places']">list</mat-icon>
        <span mat-line>Autosuggest Places</span>
        <span mat-line class="secondary">Display place auto-suggestions as you type.</span>
      </a>

      <a mat-list-item>
        <mat-icon [routerLink]="['find-places']">search</mat-icon>
        <span mat-line>Find Places</span>
        <span mat-line class="secondary">Find places using various constraints.</span>
      </a>

      <a mat-list-item>
        <mat-icon [routerLink]="['find-region-places']">search</mat-icon>
        <span mat-line>Find Region Places</span>
        <span mat-line class="secondary">Find places for a specific country region.</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    GeoDB Demo
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
