<br/>
<mat-card>
  <mat-toolbar color="primary">Find Places</mat-toolbar>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search Criteria</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <mat-slide-toggle
                [checked]="!placeControl.disabled"
                (change)="placeControl.disabled ? placeControl.enable() : placeControl.disable()">
              </mat-slide-toggle>

              <mat-form-field>
                <input matInput placeholder="Place Name Prefix" aria-label="Place Name Prefix" [formControl]="placeControl">
              </mat-form-field>
            </div>
            <div class="col-xs-4">
              <mat-slide-toggle
                [checked]="!countryControl.disabled"
                (change)="onCountryControlEnabled(countryControl.toggleEnabled())">
              </mat-slide-toggle>

              <app-country-control #countryControl
                [enabled]="false"
                (countryCode)="onCountryCodeSelected($event)">
              </app-country-control>
            </div>
            <div class="col-xs-4">
              <mat-slide-toggle
                [checked]="!minPopulationControl.disabled"
                (change)="minPopulationControl.disabled ? minPopulationControl.enable() : minPopulationControl.disable()">
              </mat-slide-toggle>

              <mat-form-field>
                <input matInput type="number" min="1000" placeholder="Minimum Place Population" aria-label="Minimum Place Population" [formControl]="minPopulationControl">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <mat-slide-toggle
                    [checked]="!nearLocationControlsDisabled"
                    (change)="nearLocationControlsDisabled ? enableNearLocationControls() : disableNearLocationControls()">
                  </mat-slide-toggle>
                  Near Location
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <mat-form-field>
                        <input matInput placeholder="Latitude" aria-label="Latitude" [formControl]="nearLocationLatitudeControl">
                      </mat-form-field>
                    </div>
                    <div class="col-xs-4">
                      <mat-form-field>
                        <input matInput placeholder="Longitude" aria-label="Longitude" [formControl]="nearLocationLongitudeControl">
                      </mat-form-field>
                    </div>
                    <div class="col-xs-4">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Radius (Miles)" aria-label="Radius (Miles)" [formControl]="nearLocationRadius">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <button mat-raised-button (click)="updateResults()">Update Results</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Results</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <ngx-datatable
                class="material"
                [rows]="placeResultsCurrent"
                [columns]="placeResultsColumns"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="placeResultsTotalCount"
                [offset]="placeResultsCurrentPage"
                [limit]="placeResultsPageSize"
                (page)='setPlaceResultsPage($event.offset)'>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>

