<br/>
<mat-card>
  <mat-toolbar color="primary">Mashape API Key</mat-toolbar>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <p>
        To get any of the demo examples to work, you enter a valid Mashape API key for an account that's subscribed to
        one of the GeoDB API plans.
      </p>
      <p>
        Entering a wrong key or one with no plan subscription will not cause an error here.
        But in this case when trying to run the demos, you will get HTTP 403 Forbidden errors in the console log.
      </p>
      <ol>
        <li>
          <a href="https://rapidapi.com">Create an account on RapidAPI</a>. (Rapid may ask for credit-card info. As long
          as you stay within the free usage limits of the Basic plan, you <strong>will not be charged</strong>.)
        </li>
        <li><a href="https://rapidapi.com/user/wirefreethought/package/GeoDB/pricing">Select a GeoDB plan</a>.</li>
      </ol>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSetKey(f)" #f="ngForm">
        <mat-form-field>
          <input name="apiKey" matInput placeholder="Enter Mashape API Key" aria-label="API Key" ngModel>
        </mat-form-field>
        &nbsp;
        <button mat-raised-button type="submit">Set Key</button>
      </form>
      <div *ngIf="apiKey != null && apiKey.length > 0">
        <h4>Current Key</h4>
        <pre>{{apiKey}}</pre>
      </div>
    </div>
  </div>
</mat-card>
