<br/>
<mat-card>
  <mat-toolbar color="primary">Find Region Cities</mat-toolbar>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search Criteria</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <app-country-control
                [enabled]="true"
                (countryCode)="onCountryCodeSelected($event)">
              </app-country-control>
            </div>
            <div class="col-xs-4">
              <app-region-control
                [countryCode]="countryCode"
                (regionCode)="onRegionCodeSelected($event)">
              </app-region-control>
            </div>
            <div class="col-xs-4">
              <mat-slide-toggle
                [checked]="!minPopulationControl.disabled"
                (change)="minPopulationControl.disabled ? minPopulationControl.enable() : minPopulationControl.disable()">
              </mat-slide-toggle>

              <mat-form-field>
                <input matInput type="number" min="1000" placeholder="Minimum City Population" aria-label="Minimum City Population" [formControl]="minPopulationControl">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <button mat-raised-button (click)="updateResults()" [disabled]="!regionCode">Update Results</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Results</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <ngx-datatable
                class="material"
                [rows]="cityResultsCurrent"
                [columns]="CITY_RESULTS_COLUMNS"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="cityResultsTotalCount"
                [offset]="cityResultsCurrentPage"
                [limit]="cityResultsPageSize"
                (page)='setCityResultsPage($event.offset)'>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>

